*
{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
body{
    background: rgb(241, 232, 210);
}
.container
{
    margin:60px;
}
.container button
{
    background-color: black;
    color:white;
    border:none;
    width:150px;
    height:40px;
    margin:5px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
}
#toastbox
{
    position: absolute;
    bottom: 30px;
    right:30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}
.toast
{
    width:400px;
    height:80px;
    background:rgb(255, 255, 255);
    font-weight: 500;
    margin:20px 0;
    box-shadow:0 0 20px rgba(0,0,0,0.4);
    padding:22px;
    font-size: 25px;
    position: relative;
    transform:translateX(100%);
    animation:moveleft 0.5s linear forwards;
}
@keyframes moveleft
{
    100%{
        transform:translate(0);
    }
}
.toast i 
{
    color:green;
    font-size: 28px;
}
.toast.error i{
    color:red;
}
.toast.invalid i{
    color:orange;
}
.toast::after
{
    content:" ";
    position: absolute;
    left:0%;
    bottom:0%;
    width:100%;
    height: 4px;
    background: green;
    animation: anim 5s linear forwards;
}
@keyframes anim {
    100%{
        width:0;
    }
}
.toast.error::after
{
    background: red;
}
.toast.invalid::after
{
    background: orange;
}